* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: inherit;
}


html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #F7941D;
}

.hiden {
    display: none;
}


.active-color {
    color: #fff;
    background-color: #F7941D;
}

